{% extends "school/base.html" %}
{% block head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {% load crispy_forms_tags %}
{% endblock %}

{% block content %}
<div class="container centered">
<form action="" method="post">{% csrf_token %}
    	{{ form | crispy}}
    	<input type="submit" value="注册" />
</form>
</div></div>
  <script>
  $( function() {
    $( ".datepicker" ).datepicker({
    showButtonPanel: true,
    changeMonth: true,
    changeYear: true,
    showOtherMonths: true,
    selectOtherMonths: true,
    dateFormat: 'yy/mm/dd'
});
  } );
  </script>
{% endblock %}