{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<html>
<head>
   <title>{{school_name}}</title>
    <style type="text/css">
	.jumbotron {
      background-color: #f4511e;
      color: #fff;
      font-family: Montserrat, sans-serif;
	}


    </style>

    {% block head %}
    {% endblock %}
</head>
<body>

<header>
    <div class="jumbotron text-center">
        <h1>
            {{school_name}}
        </h1>
        <p>{{school_address}}</p>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      		<a class="navbar-brand" href="/">{{school_name}}</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">首页</a></li>
                    <li><a href="/student/register">注册</a></li>
                    <li><a href="/admin">管理</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{school_background}}" alt="周鹏舞蹈学校">
    </div>
  </div>
</div>
{% endblock %}
<footer></footer>
</body>

</html>
